<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Ritter Insurance Marketing Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="site-assets/stylesheets/platform-ui.min.css">
  <script src="https://kit.fontawesome.com/9adb49694f.js"></script>
  {{{styles}}}

  <link rel="apple-touch-icon" sizes="180x180" href="site-assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="site-assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="site-assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="site-assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="site-assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="site-assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body id="kss-node" class="{{#if template.isHomepage}}background-lighter{{/if}}{{#unless homepage}}platform toggle{{/unless}}  ">
  <header class="site-header flex--justify-between flex--align-center px-3 py-2 background-white block-container border-b border--color-skyblue">
    <div class="block block-mobile-4 block-laptop-3 flex flex--justify-start">
      <a class="flex w-50" href="/">
        <img class="w-100" src="site-assets/stylesheets/svg/RitterInsuranceLogo.svg" alt="Ritter Insurance Marketing">
      </a>
    </div>
    <nav class="block block-8 flex flex--justify-end">
      <a class="text--bold text-navy px-3" href="https://docs.ritterim.com">
        <img class="icon--svg-small" src="site-assets/stylesheets/svg/ritter-docs.svg" alt="">
        Ritter Docs
      </a>
      <a class="text--bold text-navy px-3" href="https://ritterim.com">
        <img class="icon--svg-small" src="site-assets/stylesheets/svg/ritter-website.svg" alt="">
        Ritterim.com
      </a>
    </nav>
  </header>

  {{#unless template.isHomepage}}
  <aside class="crm-actions border-r border--color-lighter">
    <nav class="h-100 overflow-y--scroll pb-7" aria-label="Style Guide">
      <ul class="rim-list">
        <li class="rim-list__item mb-0">
          <a class="flex px-3 py-3 pos-rel{{#unless template.homepage}} hover-scale text-base{{/unless}}{{#if template.isHomepage}} background-skyblue text-navy text--bold{{/if}}" href="./">
            <strong>Home v{{ options.version }}</strong>
            <i class="pos-abs pin-right pin-center-top mr-3 fad fa-home"></i>
          </a>
        </li>
      {{#each menu}}
        <li class="rim-list__item mb-0">
          <a class="flex px-3 py-3 pos-rel{{#unless isActive}} hover-scale text-base{{/unless}}{{#if isActive}} background-skyblue text-navy text--bold{{/if}}" href="section-{{referenceURI}}.html">
            <strong>{{referenceNumber}}</strong><span class="ml-2">{{header}}</span>
            <i class="pos-abs pin-right pin-center-top mr-3 fal fa-angle-down fa-lg{{#if isActive}} fa-rotate-180{{/if}}"></i>
            {{!-- {{#if children}}<i class="fas fa-chevron-right"></i>{{/if}} --}}
          </a>
          {{#if isActive}}
            {{#if children}}
              <ul class="rim-list pl-1 background-lighter style-nav__child-list">
              {{#each children}}
                <li class="mb-0">
                  <a class="flex px-3 py-3 hover-scale text-base" href="section-{{../referenceURI}}.html#kssref-{{referenceURI}}">
                    <strong>{{referenceNumber}}</strong><span class="ml-2">{{header}}</span>
                  </a>
                </li>
              {{/each}}
              </ul>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
      </ul>
    </nav>
  </aside>
  {{/unless}}
  <main class="pb-4 {{#unless homepage}}px-4 background-white{{/unless}}" aria-label="Content">
    {{#if homepage}}
    <div class="crm-banner animated slideInDown fast flex--center-content flex--column pt-6" style="background-image: linear-gradient(to right, white, transparent), url('site-assets/stylesheets/images/style-guide-background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <h1 class="my-4">Welcome to the Platform UI Style Guide</h1>
      <p>Platform UI is the CSS framework we've developed to maintain the Ritter Platform of agent tools.</p>
      <a href="/section-_contributing.html" class="button button--post button--lg">Get Started v{{ options.version }}</a>
    </div>
    {{/if}}
    <article {{#if homepage}}class="block-container px-6 mx-6 py-4"{{/if}}>
    {{#if template.isHomepage}}
      {{#if homepage}}
        <div id="kssref-0">
          <!-- {{{homepage}}} -->
          <div class="block-container blocks-px-2 blocks-py-2 tablet-up-3 laptop-up-4">

            {{#each menu}}
              <div class="block{{#if isActive}} active{{/if}}">
                <a class="rim-card flex--center-content flex--column rounded-1 text-salmon--hover" href="section-{{referenceURI}}.html">
                  <img class="py-2" src="site-assets/stylesheets/svg/{{header}}.svg" alt="">
                  <span class="py-1">{{header}}</span>
                  <span class="py-1">Learn More <i class="far fa-arrow-right"></i><i class="far fa-angle-right"></i></span>
                </a>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{else}}

    {{!
      Display each section, in order.

      The "root" element comes first in this loop, and can be detected using
      the "#if @first" block as seen below.
    }}
    {{#each sections}}
      <div id="kssref-{{referenceURI}}" class="pb-3{{#unless @first}} border-b border--color-lighter pt-7 mt-2{{/unless}}{{#if @first}} pt-5{{/if}}{{#if @last}} no-border{{/if}} {{#if @root.template.isItem}}is-fullscreen{{/if}}">
        <h{{#if @first}}1{{else}}2{{/if}} class="rim-style-title {{#if @first}}text--bold text--size-xxl{{/if}} mb-3">
          <a class="rim-style-title__permalink {{#if @first}} text-navy{{else}} text-dark{{/if}}" href="#kssref-{{referenceURI}}">
            <div class="rim-style-title__ref text-base text--size-xxs">
              Section {{referenceNumber}}
              <span class="rim-style-title__permalink-hash text-light">
                {{#if @root.hasNumericReferences}}
                  #permalink
                {{else}}
                  #{{reference}}
                {{/if}}
              </span>
            </div>
            {{header}}
          </a>
          <hr class="w-25 background-orange" style="height: .3rem;">
        </h{{#if @first}}1{{else}}2{{/if}}>

        {{#if description}}
          <div class="rim-style-description pui-code-block--inline">
            {{{description}}}
          </div>
        {{/if}}

        {{#if colors }}
          <ul class="rim-list block-container tablet-up-3 laptop-up-4 blocks-px-2 blocks-py-2">
            {{#each colors}}
              <li class="block">
                <figure class="h-100 background-white border border--color-light my-0 mx-0 py-0 px-0">
                  <div style="background-color:{{color}}; height: 3em;"></div>
                  <figcaption class="py-2 px-2 flex flex--column">
                    <strong class="text--bold text-dark">{{name}}</strong>
                    <code class="text-base">{{color}}</code>
                  </figcaption>
                </figure>
              </li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if parameters}}
          <div class="kss-parameters__title">Parameters:</div>
          <ul class="kss-parameters">
          {{#each parameters}}
            <li class="kss-parameters__item">
              <div class="kss-parameters__name"><code>{{name}}</code></div>
              <div class="kss-parameters__description">
                {{{description}}}
                {{#if defaultValue}}
                  <div class="kss-parameters__default-value">
                    Defaults to: <code>{{defaultValue}}</code>
                  </div>
                {{/if}}
              </div>
            </li>
          {{/each}}
          </ul>
        {{/if}}

        {{#if example}}
          <div class="my-4">
            <h4 class="text--bold mb-3">
              Example:{{#if modifiers}}s{{/if}}
            </h4>

            {{#if modifiers}}
              <div class="text--bold mb-4">
                Default styling
              </div>
            {{/if}}

            <div class="rim-style-modifier__example">
              {{{example}}}
              <div class="rim-style-modifier__example-footer"></div>
            </div>

            {{#each modifiers}}
              <div class="rim-style-modifier__name">
                {{name}}
              </div>
              <div class="rim-style-modifier__description mb-4">
                {{{description}}}
              </div>
              <div class="rim-style-modifier__example">
                {{{markup}}}
              </div>
            {{/each}}
          </div>

          {{#if markup}}
            <h4 class="mb-3">
              Markup:
            </h4>
            <details class="rim-style-markup mb-4" open>
              <summary class="hidden">
                {{#if markupFile }}
                  Markup: <code>{{markupFile}}</code>
                {{else}}
                  Markup
                {{/if}}
              </summary>
              <pre class="hljs mx-0 my-0"><code class="language-handlebars">{{{hljs markup 'handlebars'}}}</code></pre>
            </details>
          {{/if}}
        {{/if}}

        {{#if source.filename}}
          <div>
            Source: <code>{{source.filename}}</code>, line {{source.line}}
          </div>
        {{/if}}

      </div>
    {{/each}}
  {{/if}}
  </article>
  </main>

  <!-- SCRIPTS -->
  <script src="kss-assets/kss.js"></script>
  <script src="kss-assets/scrollspy.js"></script>
  <script src="kss-assets/kss-fullscreen.js"></script>
  <script src="kss-assets/kss-guides.js"></script>
  <script src="kss-assets/kss-markup.js"></script>
  <script src="kss-assets/platform-ui.min.js"></script>
  <script>
    var spy = new ScrollSpy('#kss-node', {
      nav: '.style-nav__child-list > li > a',
      className: 'text--bold'
    });
    var kssFullScreen = new KssFullScreen({
      idPrefix: 'kss-fullscreen-',
      bodyClass: 'kss-fullscreen-mode',
      elementClass: 'is-fullscreen'
    });
    var kssGuides = new KssGuides({
      bodyClass: 'kss-guides-mode'
    });
    var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
    });
  </script>
  {{{scripts}}}

</body>
</html>
