<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>RIMdev Platform Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  {{!-- <link rel="stylesheet" href="kss-assets/kss.css"> --}}
  <link rel="stylesheet" href="/src/assets/stylesheets/platform-ui.min.css">
  <script src="https://kit.fontawesome.com/9adb49694f.js"></script>
  {{{styles}}}

  <link rel="apple-touch-icon" sizes="180x180" href="/src/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/src/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/src/assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/src/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/src/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/src/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body id="kss-node" class="rim-style">
  <header class="rim-style-header">
    <p class="text-white mb-0">Ritter Platform Style Guide</p>
  </header>
  <aside class="rim-style-aside">
    <nav class="rim-style-nav" aria-label="Style Guide">
      <ul class="rim-style-nav__menu">
        <li class="rim-style-nav__menu-item{{#if template.isHomepage}} active{{/if}}">
          <a class="rim-style-nav__menu-link" href="./">
            <span class="rim-style-nav__ref">0</span
            ><span class="rim-style-nav__name">Overview</span>
          </a>
        </li>
      {{#each menu}}
        <li class="rim-style-nav__menu-item{{#if isActive}} active{{/if}}">
          <a class="rim-style-nav__menu-link" href="section-{{referenceURI}}.html">
            <span class="rim-style-nav__ref">{{referenceNumber}}</span><span class="rim-style-nav__name">{{header}}</span>
            {{#if children}}<i class="fas fa-chevron-right"></i>{{/if}}
          </a>
          {{#if isActive}}
            {{#if children}}
              <ul class="rim-style-nav__menu-child">
              {{#each children}}
                <li class="rim-style-nav__menu-child-item{{#if isActive}} active{{/if}}">
                  <a class="rim-style-nav__menu-link" href="section-{{../referenceURI}}.html#kssref-{{referenceURI}}">
                    <span class="rim-style-nav__ref {{#if isGrandChild}}rim-style-nav__ref-child{{/if}}">{{referenceNumber}}</span
                    ><span class="rim-style-nav__name">{{header}}</span>
                  </a>
                </li>
              {{/each}}
              </ul>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
      </ul>
    </nav>
  </aside>
  <main class="platform-main px-3 py-3" aria-label="Content">
    <article>
    {{#if template.isHomepage}}
      {{#if homepage}}
        <div id="kssref-0" class="rim-style-section rim-style-section--depth-0 kss-overview rim-style-content">
          {{{homepage}}}
        </div>
      {{/if}}
    {{else}}

    {{!
      Display each section, in order.

      The "root" element comes first in this loop, and can be detected using
      the "#if @first" block as seen below.
    }}
    {{#each sections}}
      <{{#if @first}}div{{else}}section{{/if}} id="kssref-{{referenceURI}}" class="rim-style-section rim-style-section--depth-{{depth}} {{#if @root.template.isItem}}is-fullscreen{{/if}}">

        <div class="rim-style-content">
          <h{{depth}} class="rim-style-title rim-style-title--level-{{depth}}">
            <a class="rim-style-title__permalink" href="#kssref-{{referenceURI}}">
              <span class="rim-style-title__ref">
                {{referenceNumber}}
                <span class="rim-style-title__permalink-hash">
                  {{#if @root.hasNumericReferences}}
                    #permalink
                  {{else}}
                    #{{reference}}
                  {{/if}}
                </span>
              </span>
              {{header}}
            </a>
          </h{{depth}}>

          {{#if description}}
            <div class="rim-style-description">
              {{{description}}}
            </div>
          {{/if}}

          {{#if colors }}
            <ul class="rim-style-colors">
              {{#each colors}}
                <li>
                  <figure class="rim-style-color">
                    <div class="rim-style-color__figure" style="background-color:{{color}}"></div>
                    <figcaption class="rim-style-color__caption">
                      {{#if name }}
                        <strong class="rim-style-color__name">{{ color.name }}</strong>
                      {{/if}}
                      <strong class="rim-style-color__name">{{name}}</strong>
                      <code class="rim-style-color__code">{{color}}</code>
                      {{#if description}}
                        <p class="rim-style-color__desc">{{description}}</p>
                      {{/if}}
                    </figcaption>
                  </figure>
                </li>
              {{/each}}
            </ul>
          {{/if}}

          {{#if parameters}}
            <div class="kss-parameters__title">Parameters:</div>
            <ul class="kss-parameters">
            {{#each parameters}}
              <li class="kss-parameters__item">
                <div class="kss-parameters__name"><code>{{name}}</code></div>
                <div class="kss-parameters__description">
                  {{{description}}}
                  {{#if defaultValue}}
                    <div class="kss-parameters__default-value">
                      Defaults to: <code>{{defaultValue}}</code>
                    </div>
                  {{/if}}
                </div>
              </li>
            {{/each}}
            </ul>
          {{/if}}
        </div>

        {{#if example}}
          <div class="rim-style-modifier">
            <h4 class="rim-style-section__heading rim-style-content">
              Example:{{#if modifiers}}s{{/if}}
            </h4>

            {{#if modifiers}}
              <div class="rim-style-modifier__default-name rim-style-content">
                Default styling
              </div>
            {{/if}}

            <div class="rim-style-modifier__example">
              {{{example}}}
              <div class="rim-style-modifier__example-footer"></div>
            </div>

            {{#each modifiers}}
              <div class="rim-style-modifier__name rim-style-content">
                {{name}}
              </div>
              <div class="rim-style-modifier__description rim-style-content">
                {{{description}}}
              </div>
              <div class="rim-style-modifier__example">
                {{{markup}}}
                <div class="rim-style-modifier__example-footer"></div>
              </div>
            {{/each}}
          </div>

          {{#if markup}}
            <h4 class="rim-style-section__heading rim-style-content">
              Markup:
            </h4>
            <details class="rim-style-markup rim-style-content" open>
              <summary>
                {{#if markupFile }}
                  Markup: <code>{{markupFile}}</code>
                {{else}}
                  Markup
                {{/if}}
              </summary>
              <pre class="rim-style-markup__code-wrapper hljs"><code class="language-handlebars">{{{hljs markup 'handlebars'}}}</code></pre>
            </details>
          {{/if}}
        {{/if}}

        {{#if source.filename}}
          <div class="kss-source rim-style-content">
            Source: <code>{{source.filename}}</code>, line {{source.line}}
          </div>
        {{/if}}

      </{{#if @first}}div{{else}}section{{/if}}>
    {{/each}}
  {{/if}}
  </article>
  </main>

  <!-- SCRIPTS -->
  <script src="kss-assets/kss.js"></script>
  <script src="kss-assets/scrollspy.js"></script>
  <script src="kss-assets/kss-fullscreen.js"></script>
  <script src="kss-assets/kss-guides.js"></script>
  <script src="kss-assets/kss-markup.js"></script>
  <script src="kss-assets/modal.js"></script>
  <script>
    var spy = new ScrollSpy('#kss-node', {
      nav: '.rim-style-nav__menu-child > li > a',
      className: 'is-in-viewport'
    });
    var kssFullScreen = new KssFullScreen({
      idPrefix: 'kss-fullscreen-',
      bodyClass: 'kss-fullscreen-mode',
      elementClass: 'is-fullscreen'
    });
    var kssGuides = new KssGuides({
      bodyClass: 'kss-guides-mode'
    });
    var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
    });
  </script>
  {{{scripts}}}

  {{! This will only be included in the demo page. }}
  {{#if options.demo}}
    <footer class="kss-github">
      <!-- https://github.com/blog/273-github-ribbons -->
      <a href="https://github.com/kss-node/kss-node"><img src="kss-assets/github-fork--black.png" alt="Fork me on GitHub"></a>
    </footer>
  {{/if}}

  <!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
