<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Ritter Insurance Marketing Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="site-assets/stylesheets/platform-ui.min.css">
  <script src="https://kit.fontawesome.com/9adb49694f.js"></script>
  {{{styles}}}

  <link rel="apple-touch-icon" sizes="180x180" href="site-assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="site-assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="site-assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="site-assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="site-assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="site-assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body id="kss-node" class="{{#unless homepage}}rim-style{{/unless}}">
  <header class="rim-style-header">
    <div class="rim-style-logo">
      <a href="/">
        <img src="site-assets/stylesheets/svg/RitterInsuranceLogo.svg" alt="Ritter Insurance Marketing">
      </a>
    </div>
    <nav>
      <a href="https://docs.ritterim.com">
        <img class="icon--svg-small" src="site-assets/stylesheets/svg/ritter-docs.svg" alt="">
        Ritter Docs
      </a>
      <a href="https://ritterim.com">
        <img class="icon--svg-small" src="site-assets/stylesheets/svg/ritter-website.svg" alt="">
        Ritterim.com
      </a>
    </nav>
  </header>

  {{#unless template.isHomepage}}
  <aside class="rim-style-aside">
    <nav class="rim-style-nav" aria-label="Style Guide">
      <ul class="rim-style-nav__menu">
        <li class="rim-style-nav__menu-item{{#if template.isHomepage}} active{{/if}}">
          <a class="rim-style-nav__menu-link" href="./">
            <i class="fad fa-home"></i>
            <span class="rim-style-nav__name">Home v{{ options.version }}</span>
          </a>
        </li>
      {{#each menu}}
        <li class="rim-style-nav__menu-item{{#if isActive}} active{{/if}}">
          <a class="rim-style-nav__menu-link" href="section-{{referenceURI}}.html">
            <span class="rim-style-nav__ref">{{referenceNumber}}</span><span class="rim-style-nav__name">{{header}}</span>
            <i class="fal fa-angle-down fa-lg {{#if isActive}} fa-rotate-180{{/if}}"></i>
            {{!-- {{#if children}}<i class="fas fa-chevron-right"></i>{{/if}} --}}
          </a>
          {{#if isActive}}
            {{#if children}}
              <ul class="rim-style-nav__menu-child">
              {{#each children}}
                <li class="rim-style-nav__menu-child-item{{#if isActive}} active{{/if}}">
                  <a class="rim-style-nav__menu-link" href="section-{{../referenceURI}}.html#kssref-{{referenceURI}}">
                    <span class="rim-style-nav__ref {{#if isGrandChild}}rim-style-nav__ref-child{{/if}}">{{referenceNumber}}</span
                    ><span class="rim-style-nav__name">{{header}}</span>
                  </a>
                </li>
              {{/each}}
              </ul>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
      </ul>
    </nav>
  </aside>
  {{/unless}}
  <main class="{{#if homepage}}rim-style-home{{else}}rim-style-main{{/if}}" aria-label="Content">
    {{#if homepage}}
    <div class="crm-banner animated slideInDown fast flex--center-content flex--column pt-6" style="background-image: linear-gradient(to right, white, transparent), url('site-assets/stylesheets/images/style-guide-background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <h1 class="mb-2">Welcome to the Platform UI Style Guide</h1>
      <p>Platform UI is the CSS framework we've developed to maintain the Ritter Platform of agent tools.</p>
      <a href="/section-_contributing.html" class="button button--post button--lg">Get Started v{{ options.version }}</a>
    </div>
    {{/if}}
    <article {{#if homepage}}class="block-container px-6 mx-6 py-4"{{/if}}>
    {{#if template.isHomepage}}
      {{#if homepage}}
        <div id="kssref-0">
          <!-- {{{homepage}}} -->
          <div class="block-container blocks-px-2 blocks-py-2 tablet-up-3 laptop-up-4">

            {{#each menu}}
              <div class="block{{#if isActive}} active{{/if}}">
                <a class="rim-card flex--center-content flex--column rounded-1 text-salmon--hover" href="section-{{referenceURI}}.html">
                  <img class="py-2" src="site-assets/stylesheets/svg/{{header}}.svg" alt="">
                  <span class="py-1">{{header}}</span>
                  <span class="py-1">Learn More <i class="far fa-arrow-right"></i><i class="far fa-angle-right"></i></span>
                </a>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{else}}

    {{!
      Display each section, in order.

      The "root" element comes first in this loop, and can be detected using
      the "#if @first" block as seen below.
    }}
    {{#each sections}}
      <{{#if @first}}div{{else}}section{{/if}} id="kssref-{{referenceURI}}" class="rim-style-section rim-style-section--depth-{{depth}} {{#if @root.template.isItem}}is-fullscreen{{/if}}">

        <div class="rim-style-content">
          <h{{depth}} class="rim-style-title rim-style-title--level-{{depth}}">
            <a class="rim-style-title__permalink" href="#kssref-{{referenceURI}}">
              <span class="rim-style-title__ref">
                {{referenceNumber}}
                <span class="rim-style-title__permalink-hash">
                  {{#if @root.hasNumericReferences}}
                    #permalink
                  {{else}}
                    #{{reference}}
                  {{/if}}
                </span>
              </span>
              {{header}}
            </a>
          </h{{depth}}>

          {{#if description}}
            <div class="rim-style-description">
              {{{description}}}
            </div>
          {{/if}}

          {{#if colors }}
            <ul class="rim-style-colors">
              {{#each colors}}
                <li>
                  <figure class="rim-style-color">
                    <div class="rim-style-color__figure" style="background-color:{{color}}"></div>
                    <figcaption class="rim-style-color__caption">
                      {{#if name }}
                        <strong class="rim-style-color__name">{{ color.name }}</strong>
                      {{/if}}
                      <strong class="rim-style-color__name">{{name}}</strong>
                      <code class="rim-style-color__code">{{color}}</code>
                      {{#if description}}
                        <p class="rim-style-color__desc">{{description}}</p>
                      {{/if}}
                    </figcaption>
                  </figure>
                </li>
              {{/each}}
            </ul>
          {{/if}}

          {{#if parameters}}
            <div class="kss-parameters__title">Parameters:</div>
            <ul class="kss-parameters">
            {{#each parameters}}
              <li class="kss-parameters__item">
                <div class="kss-parameters__name"><code>{{name}}</code></div>
                <div class="kss-parameters__description">
                  {{{description}}}
                  {{#if defaultValue}}
                    <div class="kss-parameters__default-value">
                      Defaults to: <code>{{defaultValue}}</code>
                    </div>
                  {{/if}}
                </div>
              </li>
            {{/each}}
            </ul>
          {{/if}}
        </div>

        {{#if example}}
          <div class="rim-style-modifier">
            <h4 class="rim-style-section__heading rim-style-content">
              Example:{{#if modifiers}}s{{/if}}
            </h4>

            {{#if modifiers}}
              <div class="rim-style-modifier__default-name rim-style-content">
                Default styling
              </div>
            {{/if}}

            <div class="rim-style-modifier__example">
              {{{example}}}
              <div class="rim-style-modifier__example-footer"></div>
            </div>

            {{#each modifiers}}
              <div class="rim-style-modifier__name rim-style-content">
                {{name}}
              </div>
              <div class="rim-style-modifier__description rim-style-content">
                {{{description}}}
              </div>
              <div class="rim-style-modifier__example">
                {{{markup}}}
                <div class="rim-style-modifier__example-footer"></div>
              </div>
            {{/each}}
          </div>

          {{#if markup}}
            <h4 class="rim-style-section__heading rim-style-content">
              Markup:
            </h4>
            <details class="rim-style-markup rim-style-content" open>
              <summary>
                {{#if markupFile }}
                  Markup: <code>{{markupFile}}</code>
                {{else}}
                  Markup
                {{/if}}
              </summary>
              <pre class="rim-style-markup__code-wrapper hljs"><code class="language-handlebars">{{{hljs markup 'handlebars'}}}</code></pre>
            </details>
          {{/if}}
        {{/if}}

        {{#if source.filename}}
          <div class="kss-source rim-style-content">
            Source: <code>{{source.filename}}</code>, line {{source.line}}
          </div>
        {{/if}}

      </{{#if @first}}div{{else}}section{{/if}}>
    {{/each}}
  {{/if}}
  </article>
  </main>

  <!-- SCRIPTS -->
  <script src="kss-assets/kss.js"></script>
  <script src="kss-assets/scrollspy.js"></script>
  <script src="kss-assets/kss-fullscreen.js"></script>
  <script src="kss-assets/kss-guides.js"></script>
  <script src="kss-assets/kss-markup.js"></script>
  <script src="kss-assets/platform-ui.min.js"></script>
  <script>
    var spy = new ScrollSpy('#kss-node', {
      nav: '.rim-style-nav__menu-child > li > a',
      className: 'is-in-viewport'
    });
    var kssFullScreen = new KssFullScreen({
      idPrefix: 'kss-fullscreen-',
      bodyClass: 'kss-fullscreen-mode',
      elementClass: 'is-fullscreen'
    });
    var kssGuides = new KssGuides({
      bodyClass: 'kss-guides-mode'
    });
    var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
    });
  </script>
  {{{scripts}}}

</body>
</html>
