<link rel="stylesheet" href="site-assets/stylesheets/platform-ui.min.css">
<ul class="list block-container tablet-up-5 blocks p-2 mb-3">
  {{# each names }}
    <li class="block flex--center-content flex--column">

      <span class="flex text--size-xxl text--base p-3">
        <i class="{{ ../baseClassNames }} {{ ../classPrefix }}{{ this }}"></i>
      </span>

      <span class="flex--center-content">{{ ../classPrefix }}{{ this }}</span>
      <div class="button mt-2 tooltip-bottom" data-copy-button data-clipboard-text="<i class='{{ ../classPrefix }}{{ this }}'></i>">
        Copy <i class="pi-clipboard"></i>
      </div>

    </li>
    {{/ each }}
  </ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
const clipboard = new ClipboardJS('[data-copy-button]');
clipboard.on('success', function(e) {
    e.trigger.setAttribute('data-tooltip', 'Copied!');
    e.clearSelection();
    setTimeout(() => e.trigger.removeAttribute('data-tooltip'), 1000);
});
</script>